doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title Tawbawalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='All local celebration of music and art based in Old Town Cornelius')
    meta(name='keywords', content='Live Music, Performance, Art, Community, Festival, Entertainment, Creativity, Love, Bella, Food Truck, Fun, Things to do, Inspiration')
    meta(name='author', content='humans.txt')

    meta(property='fb:admins', content='1487524175')
    meta(property='og:url', content='http://tawbawalk.com')
    meta(property='og:title', content='Tawbawalk')
    meta(property='og:site_name', content='Tawbawalk, An Arts and Music Festival')
    meta(property='og:title', content='Tawbawalk')
    meta(property='og:image', content='http://tawbawalk.com/images/header-character.png')
    meta(property='og:image:width', content='450')
    meta(property='og:image:height', content='439')
    meta(property='og:type', content='website')
    link(rel='image_src', href='images/header-character.png')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='styles/fonts/fonts.css', rel='stylesheet', type='text/css')
    link(href='styles/main.min.css', rel='stylesheet', type='text/css')
  body
    #container

      section#home
        .headline#tawba
          img(src='images/tawba.png' alt='Tawba' )
        #character
          img(src='images/header-character.png' )
        .headline#walk
          img(src='images/walk.png' alt='Walk' )

      section#music
        h1#mahem Musical Mayhem
        #music-acts
          .music-act.y#hawthornes The Hawthornes
          .music-act.p#laylo Laylo
          .music-act.p#knowne Knowne Ghost
          .music-act.y#noma Noma Trio
          .music-act.y#message The Message
          .music-act.p#louis Louis Beeler
          .music-act.p#lee Bryan Lee
          .music-act.y#arsena Arsena Schroeder
          .music-act.y#ingram Frederick Ingram
          .music-act.p#nikki Nikki Fellows
          .music-act.p#haley Haley Vogel
          .music-act.y#mike Mike Alicke Band
          .music-act.y#carter Carter Jones
          .music-act.p#analise Analise Malick

      section#food
        .headline
          img.flip(src='images/foodtruck-fleet.png' )
          #ftf Food Truck Fleet
          img(src='images/foodtruck-fleet.png' )

      section#bubbles
        .bubbles
          #vivacious
            .bubble Vivacious Vendors
            .right-down
              img(src='images/bubble-point.png' )
            .exclamation
              img(src='images/exclamation.png' )
          #brilliant
            .left-up
              img(src='images/bubble-point.png' )
            .bubble Brilliant Businesses
            .exclamation
              img(src='images/exclamation.png' )
          #angelic
            .bubble Angelic Artists
            .right-up
              img(src='images/bubble-point.png' )
            .exclamation
              img(src='images/exclamation.png' )
          #creative
            .bubble Creative Craftsman
            .right-down
              img(src='images/bubble-point.png' )
            .exclamation
              img(src='images/exclamation.png' )

      section#about
        img#past(src='images/past-pics.png' )
        h1 &lsquo;Tawba Walk
        h3 An Arts and Music Festival
        .copy
          p.
            The 'Tawba Walk Arts & Music Festival is back in action and bigger than
            ever before! Mark your calendars and get ready for an all-local experience
            unlike any other as we feature the area's top artists, bands, performance
            groups, food trucks, microbreweries, and much more!
        #recap-video
          iframe(src='//www.youtube.com/embed/EzsuLH0YolA', frameborder='0', allowfullscreen)
        .copy
          p.
            Join us on Saturday, May 17th from 2-8 pm in Old Town Cornelius for a
            one-of-a-kind, community-inspired street festival that is sure to leave
            you feelin' a whole lotta love! The 'Tawba Walk is your all-access pass to
            discovering the top talent right here in your hometown while enjoying
            community as it should be. There will be fun for the whole entire family
            so bring the kids, your neighbors, and even your furry friends out to the
            event that's got everyone talking.... 'Tawba Walk VII!
        #maps
          a(href='https://www.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fplace%2FCornelius%2BTown%2BHall%2F%4035.4792449%2C-80.8603958%2C16z%2Fdata%3D!4m2!3m1!1s0x8856abd155034e39%3A0xf05135806ff45c34&h=8AQF8vVec'): img#big(src='images/downtown-map.png' )
          //a(href='https://www.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fplace%2FCornelius%2BTown%2BHall%2F%4035.4792449%2C-80.8603958%2C16z%2Fdata%3D!4m2!3m1!1s0x8856abd155034e39%3A0xf05135806ff45c34&h=8AQF8vVec'): img#two(src='images/maps.png')

      section#sponsors
        .tier-1
          #hendrick
            a(href='http://www.northlakeautomall.com'): img(
              src='images/hendrick-auto.png',
              alt='Hendrick Northlake Luxury Auto Mall'
            )
          #parks
            a(href='http://www.cornelius.org/index.aspx?nid=103'): img(
              src='images/cornelius-parc-final.jpg',
              alt='Cornelius North Carolina Parks and Recreation'
            )
          #vezendy
            a(href='http://vezendychiropractic.com'): img(
              src='images/vezendy.jpg',
              alt='Vezendy Chiropractic, Bringing Healthy Back'
            )
        .tier-2
          #parkave
            a(href='http://www.parkaveproperties.com'): img(
              src='images/park-ave-logo.png',
              alt='Park Avenue Properties, Rent, Manage, Invest'
            )
          #news
            a(href='http://corneliusnews.net'): img(
                src='images/cornelius-news-logo.jpg',
                alt='DavidsonNews.net, CorneliusNews.net'
            )
          #kadi
            a(href='http://kadifit.com'): img(
              src='images/kadi-logo-fix.png',
              alt='Kadi Fit'
            )
          #promo
            a(href='http://promothreads.com'): img(
              src='images/promothreads-logo-2011.gif',
              alt='PromoThreads'
            )
          #pawn
            a(href='http://www.memoriespawnshop.com'): img(
              src='images/memories-pawn-shop.jpg',
              alt='Memories Pawn Shop'
            )
          #dutchmans
            a(href='http://www.northlakeautomall.com'): img(
              src='images/dutchmans.jpg',
              alt="Dutchmans, Casual Living Store"
            )
        .tier-3
          #skilstak: a(href='http://skilstak.com') SkilStak Coding Arts
          #cooke: a(href='http://www.cookerentals.com') Cooke Rentals
          #laketown: a(href='http://laketowntavern.com') Lake Town Tavern
          #aquesta: a(href='http://aquestabank.com') Aquesta Bank
          #ginger: a(href='http://www.wehaveideas.com') Ginger Griffin Marketing + Design
          #coffeehouse: a(href='http://facebook.com/TheCoffeehouseLkn') The Coffeehouse LKN
          #couch: a(href='http://cococohome.com') Comfortable Couch Company 
          #sweets: a(href='http://bwsweetsbakery.com') BW Sweets

      section#contact
        h1 Contact
        .copy: p. 
          We want to hear from you! Contact us for ways to get connected or to
          find out more about an upcoming event.
        #address
          h3 Address
          .copy: p.
            21325 Catawba Ave, Cornelius,<br>
            North Carolina, 28031
        #phone
          h3 Phone
          .copy: a(href='tel:513-293-0569') 513-293-0569
        #email
          h3 Email
          .copy: a(href='mailto:info@bellalove.org') info@bellalove.org

        #facebook
          a(href='https://www.facebook.com/events/430128370453170'): h3 Facebook
          .copy: a(href='https://www.facebook.com/events/430128370453170'): img(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT8j-4gJMSZr_--pYH0yiaUo2L63bWSSRHLjUDDeU9RU2ZJPE_6AQ' )

      #footer
        p &copy; 2014 Bellalove, Inc.
