doctype html
html
  head
    meta(charset='utf-8')
    title Tawbawalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='All local celebration of music and art based in Old Town Cornelius')
    meta(name='keywords', content='Live Music, Performance, Art, Community, Festival, Entertainment, Creativity, Love, Bella, Food Truck, Fun, Things to do, Inspiration')
    meta(name='author', content='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='styles/fonts/fonts.css', rel='stylesheet', type='text/css')
    link(href='styles/main.min.css', rel='stylesheet', type='text/css')
  body
    #container

      section#home
        .headline#tawba
          img(src='images/tawba.png', alt='Tawba')
        #character
          img(src='images/header-character.png')
        .headline#walk
          img(src='images/walk.png', alt='Walk')

      section#music
        h1#mahem Musical Mayhem
        .music-act.y#hawthornes The Hawthornes
        .music-act.p#laylo Laylo
        .music-act.p#knowne Knowne Ghost
        .music-act.y#noma Noma Trio
        .music-act.y#message The Message
        .music-act.p#louis Louis Beeler
        .music-act.p#lee Bryan Lee
        .music-act.y#arsena Arsena Schroeder
        .music-act.y#ingram Frederick Ingram
        .music-act.p#nikki Nikki Fellows
        .music-act.p#haley Haley Vogel
        .music-act.y#mike Mike Alicke Band
        .music-act.y#carter Carter Jones
        .music-act.p#analise Analise Malick

      section#food
        .headline
          img.flip(src='images/foodtruck-fleet.png')
          #ftf Food Truck Fleet
          img(src='images/foodtruck-fleet.png')

      section#bubbles
        .bubbles
          .right-down Vivacious Vendors
          .left-up.long Brilliant Businesses
          .right-up Angelic Artists
          .right-down.long Creative Craftsman

      section#about
        img#past(src='images/past-pics.png')
        h1 'Tawba Walk
        h3 An Arts and Music Festival
        #pre-video
          p This is that sentence.
          p This is that sentence.
          p This is that sentence.
          p This is that sentence.
        #recap-video
          iframe(src='//www.youtube.com/embed/EzsuLH0YolA', frameborder='0', allowfullscreen)
        #post-video
          p This is a sentence
          p This is a sentence
          p This is a sentence
          p This is a sentence
        #maps
          img#two(src='images/maps.png')
          img#big(src='images/downtown-map.png')

      section#sponsors
        .tier-1
          #hendrick
            img(
              src='images/hendrick-auto.png',
              alt='Hendrick Northlake Luxury Auto Mall'
            )
          #parks
            img(
              src='images/cornelius-parc-final.jpg',
              alt='Cornelius North Carolina Parks and Recreation'
            )
          #vezendy
            img(
              src='images/vezendy.jpg',
              alt='Vezendy Chiropractic, Bringing Healthy Back'
            )
        .tier-2
          #parkave
            img(
              src='images/park-ave-logo.png',
              alt='Park Avenue Properties, Rent, Manage, Invest'
            )
          #news
            img(
                src='images/cornelius-news-logo.jpg',
                alt='DavidsonNews.net, CorneliusNews.net'
            )
          #kadi
            img(
              src='images/kadi-logo-fix.png',
              alt='Kadi Fit'
            )
          #promo
            img(
              src='images/promothreads-logo-2011.gif',
              alt='PromoThreads'
            )
          #pawn
            img(
              src='images/memories-pawn-shop.jpg',
              alt='Memories Pawn Shop'
            )
          #dutchmans
            img(
              src='images/dutchmans.jpg',
              alt="Dutchmans, Casual Living Store"
            )
        .tier-3
          #skilstak SkilStak Coding Arts
          #cooke Cooke Rentals
          #laketown Lake Town Tavern
          #aquesta Aquesta Bank
          #ginger Ginger Griffin Marketing + Design
          #coffeehouse The Coffeehouse LKN
          #couch Comfortable Couch Company 
          #sweets BW Sweets

      section#contact

    script(src='scripts/after.min.js')
